In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score

In [38]:
# 1. Загрузка данных
transactions = pd.read_csv('transactions.csv', sep=',').fillna(0)
transactions

         customer_id   tr_datetime  mcc_code  tr_type     amount   term_id
0           39026145    0 10:23:26      4814     1030   -2245.92         0
1           39026145    1 10:19:29      6011     7010   56147.89         0
2           39026145    1 10:20:56      4829     2330  -56147.89         0
3           39026145    1 10:39:54      5499     1010   -1392.47         0
4           39026145    2 15:33:42      5499     1010    -920.83         0
...              ...           ...       ...      ...        ...       ...
6849341     61870738  453 16:03:02      5499     1010   -5176.84  10217113
6849342     61870738  454 10:54:60      5411     1010   -1652.77    022915
6849343     61870738  454 14:23:59      5499     1010   -4687.23  10217113
6849344     61870738  454 16:11:53      5541     1110   -4491.83  RU570124
6849345     61870738  454 18:06:30      6011     7010  408756.67    372701

[6849346 rows x 6 columns]

In [39]:
gender_train = pd.read_csv('gender_train.csv', sep=',').fillna(0)
gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

In [40]:
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';').fillna(0)
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [41]:
tr_types = pd.read_csv('tr_types.csv', sep=';').fillna(0)
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [42]:
# 2. Обработка данных и создание признаков
transactions['tr_hour'] = transactions['tr_datetime'].str.split().str[1].str.split(':').str[0].astype(int)

In [43]:
# Группировка - базовые статистики по клиенту:
def create_features(df):
    features = pd.DataFrame()

    # Общее количество транзакций
    features['transaction_count'] = df.groupby('customer_id')['amount'].count()
    features['sum_amount'] = df.groupby('customer_id')['amount'].sum()
    features['mean_amount'] = df.groupby('customer_id')['amount'].mean()
    
    # Приходные транзакции (amount > 0)
    income = df[df['amount'] > 0]
    features['mean_income_amount'] = income.groupby('customer_id')['amount'].mean().fillna(0)
    features['min_income_amount'] = income.groupby('customer_id')['amount'].min().fillna(0)
    features['max_income_amount'] = income.groupby('customer_id')['amount'].max().fillna(0)
    
    # Расходные транзакции (amount < 0)
    expense = df[df['amount'] < 0]
    features['mean_expense_amount'] = expense.groupby('customer_id')['amount'].mean().fillna(0)
    features['min_expense_amount'] = expense.groupby('customer_id')['amount'].min().fillna(0)
    features['max_expense_amount'] = expense.groupby('customer_id')['amount'].max().fillna(0)
    
    # Уникальные mcc и терминалы
    features['unique_mcc_count'] = df.groupby('customer_id')['mcc_code'].nunique()
    features['unique_term_count'] = df.groupby('customer_id')['tr_type'].nunique()
    
    # Признаки по часам транзакций
    features['mean_tr_hour'] = df.groupby('customer_id')['tr_hour'].mean()
    
    # Средний час прихода
    features['mean_income_tr_hour'] = income.groupby('customer_id')['tr_hour'].mean().fillna(0)
    
    # Средний час расхода
    features['mean_expense_tr_hour'] = expense.groupby('customer_id')['tr_hour'].mean().fillna(0)
    
    return features

features = create_features(transactions)
features.head()

,transaction_count,sum_amount,mean_amount,mean_income_amount,min_income_amount,max_income_amount,mean_expense_amount,min_expense_amount,max_expense_amount,unique_mcc_count,unique_term_count,mean_tr_hour,mean_income_tr_hour,mean_expense_tr_hour
customer_id,,,,,,,,,,,,,,
6815,226,-1249454.87,-5528.561372,451092.183333,224.59,2470507.35,-17981.854409,-224591.58,-22.46,6,6,12.699115,12.833333,12.695455
22899,234,-629796.59,-2691.438419,85572.397794,88.04,875907.15,-38847.708675,-868607.92,-88.04,11,21,12.837607,13.544118,12.548193
27914,111,-2977026.82,-26820.061441,11710.848571,1122.96,89836.63,-44564.559474,-462658.65,-1122.96,6,7,11.486486,11.457143,11.500000
28753,294,-26546282.86,-90293.479116,914148.179400,7860.71,3099363.77,-296121.687828,-3244539.76,-2245.92,30,15,6.503401,7.260000,6.348361
31385,365,-2180003.58,-5972.612548,54405.845652,2245.92,199886.50,-10033.152135,-364366.15,-16.84,17,17,14.550685,9.217391,14.909357

In [44]:
# 3.1. Анализ MCC-кодов по полу
trans_train = transactions.merge(gender_train, on='customer_id', how='inner')
trans_train

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,tr_hour,gender
0,39026145,0 10:23:26,4814,1030,-2245.92,0,10,1
1,39026145,1 10:19:29,6011,7010,56147.89,0,10,1
2,39026145,1 10:20:56,4829,2330,-56147.89,0,10,1
3,39026145,1 10:39:54,5499,1010,-1392.47,0,10,1
4,39026145,2 15:33:42,5499,1010,-920.83,0,15,1
...,...,...,...,...,...,...,...,...
3751078,61870738,453 16:03:02,5499,1010,-5176.84,10217113,16,0
3751079,61870738,454 10:54:60,5411,1010,-1652.77,022915,10,0
3751080,61870738,454 14:23:59,5499,1010,-4687.23,10217113,14,0
3751081,61870738,454 16:11:53,5541,1110,-4491.83,RU570124,16,0
3751082,61870738,454 18:06:30,6011,7010,408756.67,372701,18,0

In [45]:
import pandas as pd
import numpy as np

epsilon = 1e-6  # небольшой стабилизирующий коэффициент

# Функция для подсчёта ratio и выбора топов по столбцу (column_name)
def get_top_gender_ratio_features(df, column_name, top_n=20, filter_ratio=0.1):
    # Считаем количество уникальных клиентов мужчин и женщин для каждого значения колонки
    counts = df.groupby([column_name, 'gender'])['tr_datetime'].count().unstack(fill_value=0)

    # Добавляем столбцы с 0, если отсутствуют
    if 0 not in counts.columns:
        counts[0] = 0
    if 1 not in counts.columns:
        counts[1] = 0

    # Считаем общее число транзакций по признаку (мужчины + женщины)
    counts['total'] = counts[0] + counts[1]

    # Отфильтровываем, оставляем только верхние (1 - filter_ratio) по популярности
    popular_threshold = counts['total'].quantile(filter_ratio)
    counts_filtered = counts[counts['total'] > popular_threshold]

    
    # Считаем ratio (% мужчин)
    counts_filtered['male_female_ratio'] = (counts_filtered[1]) / (counts_filtered[1] + counts_filtered[0])
    
    counts_sorted = counts_filtered.sort_values('male_female_ratio')
    print(counts_sorted)
    # Получаем топ N самых "женских" (минимальный ratio)
    top_female = counts_sorted.head(top_n).index.tolist()
    # Топ N самых "мужских" (максимальный ratio)
    top_male = counts_sorted.tail(top_n).index.tolist()
    
    return top_female, top_male


# Получаем топ-20 MCC кодов для женщин и мужчин
top_mcc_female, top_mcc_male = get_top_gender_ratio_features(trans_train, 'mcc_code', top_n=25, filter_ratio=0.6)

# Получаем топ-20 tr_type для женщин и мужчин
top_trtype_female, top_trtype_male = get_top_gender_ratio_features(trans_train, 'tr_type', top_n=15, filter_ratio=0.6)

print("Топ-20 'женских' MCC кодов:", top_mcc_female)
print("Топ-20 'мужских' MCC кодов:", top_mcc_male)

print("Топ-20 'женских' tr_type:", top_trtype_female)
print("Топ-20 'мужских' tr_type:", top_trtype_male)

### Весело, но это работает хуже чем взять просто самые популярные коды
top_mcc_gender = pd.Index(top_mcc_male).union(top_mcc_female)
top_trtype_gender = pd.Index(top_trtype_male).union(top_trtype_female)

C:\Users\Andrey\AppData\Local\Temp\ipykernel_27408\2212002050.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts_filtered['male_female_ratio'] = (counts_filtered[1]) / (counts_filtered[1] + counts_filtered[0])

gender        0      1  total  male_female_ratio
mcc_code
5621       3750    755   4505           0.167592
5631       1411    325   1736           0.187212
5977      16056   4125  20181           0.204400
5651       6395   2435   8830           0.275764
5699       4321   1740   6061           0.287081
...         ...    ...    ...                ...
6051        692   2545   3237           0.786222
7538        249   1058   1307           0.809487
5533       2121   9694  11815           0.820482
7994        726   4769   5495           0.867880
7995       1754  11665  13419           0.869290

[74 rows x 4 columns]
gender        0       1   total  male_female_ratio
tr_type
2320       1680     935    2615           0.357553
7030      46716   30375   77091           0.394015
2020       4483    3012    7495           0.401868
7020       4890    3362    8252           0.407416
1030     310032  229538  539570           0.425409
2330      22618   17654   40272           0.438369
7010      79072   68943  148015           0.465784
1010     474122  421575  895697           0.470667
7070     179074  161518  340592           0.474227
2370     103182   93489  196671           0.475357
2010     303830  279421  583251           0.479075
4010       9363    8893   18256           0.487128
7031       8661    8583   17244           0.497738
2371      16841   17228   34069           0.505680
4071      16840   17227   34067           0.505680
4051       5720    5912   11632           0.508253
2331       5720    5915   11635           0.508380
7021       2212    2297    4509           0.509426
1110     250170  266172  516342           0.515496
1100      30333   34972   65305           0.535518
1210       5600    6666   12266           0.543453
4011       2949    3579    6528           0.548254
2011      15271   19460   34731           0.560306
1200      22266   28777   51043           0.563780
6110       4834    6340   11174           0.567389
7011       2503    3519    6022           0.584357
2210       1102    1583    2685           0.589572
4110       2056    3087    5143           0.600233
2110       2058    3113    5171           0.602011
7071      17786   27308   45094           0.605579
Топ-20 'женских' MCC кодов: [5621, 5631, 5977, 5651, 5699, 5661, 5691, 5964, 5943, 5942, 7230, 7311, 5912, 8099, 5947, 5641, 8999, 5995, 5945, 8021, 5200, 4814, 7997, 5944, 5311]
Топ-20 'мужских' MCC кодов: [4812, 7523, 5300, 3000, 5921, 6012, 7832, 5251, 5261, 4121, 4816, 5732, 5211, 4789, 5983, 5813, 5734, 7011, 5541, 5511, 6051, 7538, 5533, 7994, 7995]
Топ-20 'женских' tr_type: [2320, 7030, 2020, 7020, 1030, 2330, 7010, 1010, 7070, 2370, 2010, 4010, 7031, 2371, 4071]
Топ-20 'мужских' tr_type: [4051, 2331, 7021, 1110, 1100, 1210, 4011, 2011, 1200, 6110, 7011, 2210, 4110, 2110, 7071]

C:\Users\Andrey\AppData\Local\Temp\ipykernel_27408\2212002050.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts_filtered['male_female_ratio'] = (counts_filtered[1]) / (counts_filtered[1] + counts_filtered[0])

In [46]:
# 3.2. Добавляем в базу
mcc_counts = transactions[transactions['mcc_code'].isin(top_mcc_gender)].pivot_table(
    index='customer_id',
    columns='mcc_code',
    values='amount',
    aggfunc='count',
    fill_value=0
)
mcc_counts.columns = [f'mcc_{col}_count' for col in mcc_counts.columns]
mcc_counts

,mcc_3000_count,mcc_4121_count,mcc_4789_count,mcc_4812_count,mcc_4814_count,mcc_4816_count,mcc_5200_count,mcc_5211_count,mcc_5251_count,mcc_5261_count,...,mcc_7311_count,mcc_7523_count,mcc_7538_count,mcc_7832_count,mcc_7994_count,mcc_7995_count,mcc_7997_count,mcc_8021_count,mcc_8099_count,mcc_8999_count
customer_id,,,,,,,,,,,,,,,,,,,,,
6815,0,0,0,0,90,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22899,0,0,0,0,47,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27914,0,0,0,0,58,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28753,0,0,0,0,25,0,1,2,0,0,...,0,0,0,0,0,0,0,10,1,2
31385,0,0,0,1,125,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99984336,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99985917,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99988578,0,2,0,1,135,0,0,2,0,0,...,7,0,0,0,4,0,0,0,0,31
99991245,0,0,0,0,25,0,0,3,1,0,...,0,0,0,0,0,0,0,0,0,0
99999680,0,0,0,1,68,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [47]:
# 3.3. Аналогично по tr_type
tr_type_counts = transactions[transactions['tr_type'].isin(top_trtype_gender)].pivot_table(
    index='customer_id',
    columns='tr_type',
    values='amount',
    aggfunc='count',
    fill_value=0
)
tr_type_counts.columns = [f'tr_type_{col}_count' for col in tr_type_counts.columns]
tr_type_counts

,tr_type_1010_count,tr_type_1030_count,tr_type_1100_count,tr_type_1110_count,tr_type_1200_count,tr_type_1210_count,tr_type_2010_count,tr_type_2011_count,tr_type_2020_count,tr_type_2110_count,...,tr_type_4110_count,tr_type_6110_count,tr_type_7010_count,tr_type_7011_count,tr_type_7020_count,tr_type_7021_count,tr_type_7030_count,tr_type_7031_count,tr_type_7070_count,tr_type_7071_count
customer_id,,,,,,,,,,,,,,,,,,,,,
6815,42,90,0,18,0,0,70,0,0,0,...,0,0,5,0,0,0,0,1,0,0
22899,6,47,0,27,1,0,48,0,0,1,...,1,0,40,0,0,0,12,1,9,3
27914,0,58,0,1,2,0,12,0,0,0,...,0,0,33,0,2,0,0,0,0,0
28753,89,25,3,65,0,0,24,4,1,0,...,0,1,5,0,0,0,29,0,14,0
31385,75,125,0,75,0,0,59,1,0,0,...,0,8,5,2,0,4,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99984336,0,0,0,3,0,0,39,0,0,0,...,0,0,16,0,0,0,0,0,2,0
99985917,1,1,0,1,0,0,13,0,0,0,...,0,0,3,0,1,0,0,0,0,0
99988578,215,135,19,82,0,0,112,5,0,19,...,19,0,4,0,1,0,4,2,47,49
99991245,73,25,0,9,0,0,43,0,8,3,...,3,0,35,0,0,0,3,0,0,0
99999680,75,68,2,50,0,0,80,12,0,6,...,6,0,13,0,1,0,11,3,22,0

In [52]:
# 3.4. Добавляем признаки в общий датафрейм признаков
if 'customer_id' in features.columns:
    features = features.set_index('customer_id')
features = features.join(mcc_counts).join(tr_type_counts)
data = features.merge(gender_train, on='customer_id', how='inner').fillna(0)
features.reset_index(inplace=True)
data

,customer_id,transaction_count,sum_amount,mean_amount,mean_income_amount,min_income_amount,max_income_amount,mean_expense_amount,min_expense_amount,max_expense_amount,...,tr_type_6110_count,tr_type_7010_count,tr_type_7011_count,tr_type_7020_count,tr_type_7021_count,tr_type_7030_count,tr_type_7031_count,tr_type_7070_count,tr_type_7071_count,gender
0,22899,234,-629796.59,-2691.438419,85572.397794,88.04,875907.15,-38847.708675,-868607.92,-88.04,...,0,40,0,0,0,12,1,9,3,1
1,28753,294,-26546282.86,-90293.479116,914148.179400,7860.71,3099363.77,-296121.687828,-3244539.76,-2245.92,...,1,5,0,0,0,29,0,14,0,0
2,42096,936,-5529425.48,-5907.505855,160823.312424,6737.75,673774.73,-18556.050690,-337785.73,-25.38,...,0,2,1,0,36,20,0,5,2,0
3,49793,513,-24529283.63,-47815.367700,24525.401200,1122.96,112295.79,-51521.349713,-673774.73,-157.21,...,0,12,0,0,0,0,0,13,0,1
4,50940,118,-1709747.26,-14489.383559,4491.830000,4491.83,4491.83,-16638.200189,-110049.87,-539.02,...,0,0,0,0,0,0,0,12,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8395,99917144,670,-9347074.29,-13950.857149,11550.425714,2245.92,22459.16,-14220.101463,-527790.21,-9.88,...,0,7,0,0,0,0,0,0,0,0
8396,99967537,13,-1846142.77,-142010.982308,0.000000,0.00,0.00,-142010.982308,-336887.37,-2245.92,...,0,0,0,0,0,0,0,0,0,1
8397,99984336,63,-8196354.85,-130100.870635,113169.200000,44918.32,804037.85,-227408.898889,-606397.26,-4491.83,...,0,16,0,0,0,0,0,2,0,1
8398,99988578,826,-11154687.43,-13504.464201,72100.194019,898.37,673774.73,-26243.961321,-808529.68,-67.38,...,0,4,0,1,0,4,2,47,49,1
8399,99999680,410,-16858696.35,-41118.771585,120639.815800,673.77,786070.52,-63585.242056,-830988.84,-224.59,...,0,13,0,1,0,11,3,22,0,1

In [30]:
# 4. Обучение модели

X = data.drop(columns=['gender'])
y = data['gender']

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
print(X)
X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, stratify=y, test_size=0.2, random_state=42)

      customer_id  transaction_count   sum_amount    mean_amount  \
0           22899                234   -629796.59   -2691.438419
1           28753                294 -26546282.86  -90293.479116
2           42096                936  -5529425.48   -5907.505855
3           49793                513 -24529283.63  -47815.367700
4           50940                118  -1709747.26  -14489.383559
...           ...                ...          ...            ...
8395     99917144                670  -9347074.29  -13950.857149
8396     99967537                 13  -1846142.77 -142010.982308
8397     99984336                 63  -8196354.85 -130100.870635
8398     99988578                826 -11154687.43  -13504.464201
8399     99999680                410 -16858696.35  -41118.771585

      mean_income_amount  min_income_amount  max_income_amount  \
0           85572.397794              88.04          875907.15
1          914148.179400            7860.71         3099363.77
2          160823.312424            6737.75          673774.73
3           24525.401200            1122.96          112295.79
4            4491.830000            4491.83            4491.83
...                  ...                ...                ...
8395        11550.425714            2245.92           22459.16
8396            0.000000               0.00               0.00
8397       113169.200000           44918.32          804037.85
8398        72100.194019             898.37          673774.73
8399       120639.815800             673.77          786070.52

      mean_expense_amount  min_expense_amount  max_expense_amount  ...  \
0           -38847.708675          -868607.92              -88.04  ...
1          -296121.687828         -3244539.76            -2245.92  ...
2           -18556.050690          -337785.73              -25.38  ...
3           -51521.349713          -673774.73             -157.21  ...
4           -16638.200189          -110049.87             -539.02  ...
...                   ...                 ...                 ...  ...
8395        -14220.101463          -527790.21               -9.88  ...
8396       -142010.982308          -336887.37            -2245.92  ...
8397       -227408.898889          -606397.26            -4491.83  ...
8398        -26243.961321          -808529.68              -67.38  ...
8399        -63585.242056          -830988.84             -224.59  ...

      tr_type_4110_count  tr_type_6110_count  tr_type_7010_count  \
0                      1                   0                  40
1                      0                   1                   5
2                      0                   0                   2
3                      0                   0                  12
4                      0                   0                   0
...                  ...                 ...                 ...
8395                   0                   0                   7
8396                   0                   0                   0
8397                   0                   0                  16
8398                  19                   0                   4
8399                   6                   0                  13

      tr_type_7011_count  tr_type_7020_count  tr_type_7021_count  \
0                      0                   0                   0
1                      0                   0                   0
2                      1                   0                  36
3                      0                   0                   0
4                      0                   0                   0
...                  ...                 ...                 ...
8395                   0                   0                   0
8396                   0                   0                   0
8397                   0                   0                   0
8398                   0                   1                   0
8399                   0                   1                   0

      tr_type_7030_count  tr_type_7031_count  tr_type_7070_count  \
0                     12                   1                   9
1                     29                   0                  14
2                     20                   0                   5
3                      0                   0                  13
4                      0                   0                  12
...                  ...                 ...                 ...
8395                   0                   0                   0
8396                   0                   0                   0
8397                   0                   0                   2
8398                   4                   2                  47
8399                  11                   3                  22

      tr_type_7071_count
0                      3
1                      0
2                      2
3                      0
4                      0
...                  ...
8395                   0
8396                   0
8397                   0
8398                  49
8399                   0

[8400 rows x 95 columns]

In [15]:
# RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

rfс_model = RandomForestClassifier(n_estimators=500, random_state=42, n_jobs=-1)
rfс_model.fit(X_train, y_train)

y_pred_proba = rfс_model.predict_proba(X_valid)[:, 1]
print('ROC-AUC на валидации:', roc_auc_score(y_valid, y_pred_proba))

ROC-AUC на валидации: 0.8526481956819321

In [16]:
# CatBoost — градиентный бустинг от Яндекса
from catboost import CatBoostClassifier

catboost_model = CatBoostClassifier(
    iterations=2000,
    learning_rate=0.01,
    depth=10,
    eval_metric='AUC',
    random_seed=42,
    verbose=20,
    early_stopping_rounds=100
)

catboost_model.fit(X_train, y_train, eval_set=(X_valid, y_valid), use_best_model=True)

y_pred_proba = catboost_model.predict_proba(X_valid)[:, 1]
print('ROC-AUC на валидации CatBoost:', roc_auc_score(y_valid, y_pred_proba))

0:	test: 0.7434282	best: 0.7434282 (0)	total: 206ms	remaining: 6m 51s
20:	test: 0.8183595	best: 0.8188155 (19)	total: 1.38s	remaining: 2m 9s
40:	test: 0.8257159	best: 0.8257159 (40)	total: 2.5s	remaining: 1m 59s
60:	test: 0.8323492	best: 0.8323492 (60)	total: 3.6s	remaining: 1m 54s
80:	test: 0.8357175	best: 0.8357175 (80)	total: 4.72s	remaining: 1m 51s
100:	test: 0.8379051	best: 0.8379051 (100)	total: 5.77s	remaining: 1m 48s
120:	test: 0.8406745	best: 0.8406745 (120)	total: 6.89s	remaining: 1m 46s
140:	test: 0.8430661	best: 0.8430661 (140)	total: 8s	remaining: 1m 45s
160:	test: 0.8452393	best: 0.8452393 (160)	total: 9.11s	remaining: 1m 44s
180:	test: 0.8472689	best: 0.8472689 (180)	total: 10.2s	remaining: 1m 42s
200:	test: 0.8491793	best: 0.8491793 (200)	total: 11.3s	remaining: 1m 40s
220:	test: 0.8504606	best: 0.8504606 (220)	total: 12.4s	remaining: 1m 39s
240:	test: 0.8521728	best: 0.8521728 (240)	total: 13.4s	remaining: 1m 37s
260:	test: 0.8534124	best: 0.8534124 (260)	total: 14.5s	remaining: 1m 36s
280:	test: 0.8546261	best: 0.8546261 (280)	total: 15.7s	remaining: 1m 35s
300:	test: 0.8556186	best: 0.8556287 (298)	total: 16.9s	remaining: 1m 35s
320:	test: 0.8561731	best: 0.8561731 (320)	total: 18.1s	remaining: 1m 34s
340:	test: 0.8572762	best: 0.8572762 (340)	total: 19.3s	remaining: 1m 34s
360:	test: 0.8576985	best: 0.8578120 (358)	total: 20.7s	remaining: 1m 33s
380:	test: 0.8585043	best: 0.8585115 (376)	total: 21.9s	remaining: 1m 33s
400:	test: 0.8592829	best: 0.8592829 (400)	total: 23.1s	remaining: 1m 31s
420:	test: 0.8595572	best: 0.8595572 (420)	total: 24.2s	remaining: 1m 30s
440:	test: 0.8602395	best: 0.8602395 (440)	total: 25.5s	remaining: 1m 30s
460:	test: 0.8606216	best: 0.8606790 (457)	total: 26.8s	remaining: 1m 29s
480:	test: 0.8607307	best: 0.8608313 (467)	total: 27.9s	remaining: 1m 28s
500:	test: 0.8611803	best: 0.8611803 (500)	total: 29s	remaining: 1m 26s
520:	test: 0.8617693	best: 0.8617693 (520)	total: 30.2s	remaining: 1m 25s
540:	test: 0.8618971	best: 0.8619589 (536)	total: 31.3s	remaining: 1m 24s
560:	test: 0.8621901	best: 0.8621901 (560)	total: 32.5s	remaining: 1m 23s
580:	test: 0.8625104	best: 0.8625104 (580)	total: 33.7s	remaining: 1m 22s
600:	test: 0.8630606	best: 0.8630706 (598)	total: 34.8s	remaining: 1m 20s
620:	test: 0.8636897	best: 0.8636897 (620)	total: 36s	remaining: 1m 19s
640:	test: 0.8639842	best: 0.8639957 (634)	total: 37.2s	remaining: 1m 18s
660:	test: 0.8642772	best: 0.8643217 (649)	total: 38.3s	remaining: 1m 17s
680:	test: 0.8644941	best: 0.8644941 (675)	total: 39.4s	remaining: 1m 16s
700:	test: 0.8646348	best: 0.8646348 (700)	total: 40.6s	remaining: 1m 15s
720:	test: 0.8650974	best: 0.8650974 (720)	total: 41.6s	remaining: 1m 13s
740:	test: 0.8654277	best: 0.8654565 (739)	total: 42.7s	remaining: 1m 12s
760:	test: 0.8656504	best: 0.8656734 (757)	total: 43.8s	remaining: 1m 11s
780:	test: 0.8657480	best: 0.8658429 (779)	total: 44.9s	remaining: 1m 10s
800:	test: 0.8660109	best: 0.8661330 (790)	total: 46s	remaining: 1m 8s
820:	test: 0.8661143	best: 0.8661474 (810)	total: 47.1s	remaining: 1m 7s
840:	test: 0.8662221	best: 0.8662709 (832)	total: 48.3s	remaining: 1m 6s
860:	test: 0.8660813	best: 0.8663097 (843)	total: 49.4s	remaining: 1m 5s
880:	test: 0.8661129	best: 0.8663097 (843)	total: 50.6s	remaining: 1m 4s
900:	test: 0.8661761	best: 0.8663269 (890)	total: 51.8s	remaining: 1m 3s
920:	test: 0.8662838	best: 0.8663384 (914)	total: 53.1s	remaining: 1m 2s
940:	test: 0.8666070	best: 0.8666070 (940)	total: 54.3s	remaining: 1m 1s
960:	test: 0.8666803	best: 0.8667363 (958)	total: 55.4s	remaining: 59.9s
980:	test: 0.8667578	best: 0.8667578 (980)	total: 56.5s	remaining: 58.7s
1000:	test: 0.8669288	best: 0.8669963 (996)	total: 57.6s	remaining: 57.5s
1020:	test: 0.8669144	best: 0.8669963 (996)	total: 58.8s	remaining: 56.3s
1040:	test: 0.8666903	best: 0.8669963 (996)	total: 59.9s	remaining: 55.2s
1060:	test: 0.8667320	best: 0.8669963 (996)	total: 1m 1s	remaining: 54s
1080:	test: 0.8671184	best: 0.8671184 (1080)	total: 1m 2s	remaining: 52.8s
1100:	test: 0.8671485	best: 0.8672074 (1098)	total: 1m 3s	remaining: 51.7s
1120:	test: 0.8671500	best: 0.8672735 (1117)	total: 1m 4s	remaining: 50.6s
1140:	test: 0.8672419	best: 0.8672749 (1136)	total: 1m 5s	remaining: 49.5s
1160:	test: 0.8673941	best: 0.8674387 (1159)	total: 1m 6s	remaining: 48.4s
1180:	test: 0.8674042	best: 0.8674947 (1168)	total: 1m 8s	remaining: 47.3s
1200:	test: 0.8674387	best: 0.8674947 (1168)	total: 1m 9s	remaining: 46.2s
1220:	test: 0.8673424	best: 0.8675062 (1203)	total: 1m 10s	remaining: 45s
1240:	test: 0.8674516	best: 0.8675062 (1203)	total: 1m 11s	remaining: 43.8s
1260:	test: 0.8673367	best: 0.8675062 (1203)	total: 1m 12s	remaining: 42.7s
1280:	test: 0.8674042	best: 0.8675062 (1203)	total: 1m 13s	remaining: 41.5s
1300:	test: 0.8673108	best: 0.8675062 (1203)	total: 1m 15s	remaining: 40.3s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.8675061872
bestIteration = 1203

Shrink model to first 1204 iterations.
ROC-AUC на валидации CatBoost: 0.8675061872388468

In [17]:
# LightGBM — градиентный бустинг от Microsoft
import lightgbm as lgb
from sklearn.metrics import roc_auc_score

lgbm_model = lgb.LGBMClassifier(
    objective='binary',
    boosting_type='gbdt',
    num_leaves=31,
    learning_rate=0.05,
    n_estimators=500,
    random_state=42,
    n_jobs=-1
)

lgbm_model.fit(X_train, y_train,
          eval_set=[(X_valid, y_valid)],
          eval_metric='auc')

y_pred_proba = lgbm_model.predict_proba(X_valid)[:, 1]
print('ROC-AUC на валидации LightGBM sklearn API:', roc_auc_score(y_valid, y_pred_proba))

[LightGBM] [Info] Number of positive: 2970, number of negative: 3750
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007223 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7916
[LightGBM] [Info] Number of data points in the train set: 6720, number of used features: 95
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.441964 -> initscore=-0.233194
[LightGBM] [Info] Start training from score -0.233194
ROC-AUC на валидации LightGBM sklearn API: 0.862802018411614

In [18]:
from sklearn.ensemble import VotingClassifier

# soft voting ансамбль
voting_clf = VotingClassifier(
    estimators=[
        ('rfс', rfс_model),
        ('catboost', catboost_model),
        ('lgbm', lgbm_model)
    ],
    voting='soft',
    n_jobs=-1
)
voting_clf.fit(X_train, y_train)

y_pred_proba = voting_clf.predict_proba(X_valid)[:, 1]
print('ROC-AUC на валидации Soft Voting:', roc_auc_score(y_valid, y_pred_proba))

ROC-AUC на валидации Soft Voting: 0.8669301958801536

In [19]:
from sklearn.ensemble import VotingClassifier

# hard voting ансамбль
voting_hard_clf = VotingClassifier(
    estimators=[
        ('rfс', rfс_model),
        ('catboost', catboost_model),
        ('lgbm', lgbm_model)
    ],
    voting='hard',
    n_jobs=-1
)
voting_hard_clf.fit(X_train, y_train)

y_pred_class = voting_hard_clf.predict(X_valid)
from sklearn.metrics import accuracy_score
print('Accuracy на валидации Hard Voting:', accuracy_score(y_valid, y_pred_class))

Accuracy на валидации Hard Voting: 0.7880952380952381

In [20]:
from sklearn.base import BaseEstimator, ClassifierMixin
import numpy as np

class PseudoHardVotingClassifier(BaseEstimator, ClassifierMixin):
    def __init__(self, estimators):
        """
        estimators: list of tuples [('name', model), ...]
        все модели должны поддерживать методы fit, predict, predict_proba
        """
        self.estimators = estimators
        self.named_estimators_ = dict(estimators)
        
    def fit(self, X, y):
        for name, est in self.estimators:
            est.fit(X, y)
        return self
    
    def predict_proba(self, X):
        # Получаем вероятности от всех моделей, shape (n_samples, n_models)
        probas = np.array([est.predict_proba(X)[:,1] for _, est in self.estimators]).T
        
        # Получаем классы по порогу 0.5
        classes = (probas >= 0.5).astype(int)
        
        # Голоса за класс 1
        votes_for_1 = classes.sum(axis=1)
        
        # Определяем класс большинства (>= половины моделей)
        majority_class = (votes_for_1 >= (len(self.estimators)/2)).astype(int)
        
        # Для каждого объекта считаем среднее вероятностей только моделей,
        # которые поддержали большинство
        pseudo_probs = []
        for i in range(probas.shape[0]):
            mask = (classes[i] == majority_class[i])
            avg_prob = probas[i, mask].mean()
            pseudo_probs.append(avg_prob)
        pseudo_probs = np.array(pseudo_probs)
        
        # Возвращаем вероятности для обоих классов: [1 - pseudo, pseudo]
        return np.vstack([1 - pseudo_probs, pseudo_probs]).T
    
    def predict(self, X):
        proba = self.predict_proba(X)[:,1]
        return (proba >= 0.5).astype(int)


# Предполагается, что rf_model, catboost_model, lgbm_model — инициализированы (не обучены)

pseudo_hard_voting_clf = PseudoHardVotingClassifier([
    ('rfc', rfс_model),
    ('catboost', catboost_model),
    ('lgbm', lgbm_model)
])

# Обучение
pseudo_hard_voting_clf.fit(X_train, y_train)

# Предсказания вероятностей на валидации
y_pred_proba = pseudo_hard_voting_clf.predict_proba(X_valid)[:,1]

from sklearn.metrics import roc_auc_score
print('ROC-AUC на валидации Pseudo-Hard Voting:', roc_auc_score(y_valid, y_pred_proba))

0:	total: 73.6ms	remaining: 2m 27s
20:	total: 1.59s	remaining: 2m 30s
40:	total: 3.07s	remaining: 2m 26s
60:	total: 4.59s	remaining: 2m 26s
80:	total: 6.13s	remaining: 2m 25s
100:	total: 7.71s	remaining: 2m 24s
120:	total: 9.18s	remaining: 2m 22s
140:	total: 10.7s	remaining: 2m 20s
160:	total: 12.1s	remaining: 2m 18s
180:	total: 13.6s	remaining: 2m 16s
200:	total: 15.1s	remaining: 2m 14s
220:	total: 16.5s	remaining: 2m 13s
240:	total: 18s	remaining: 2m 11s
260:	total: 19.5s	remaining: 2m 9s
280:	total: 21s	remaining: 2m 8s
300:	total: 22.6s	remaining: 2m 7s
320:	total: 24.3s	remaining: 2m 6s
340:	total: 25.8s	remaining: 2m 5s
360:	total: 27.3s	remaining: 2m 3s
380:	total: 28.8s	remaining: 2m 2s
400:	total: 30.3s	remaining: 2m
420:	total: 31.8s	remaining: 1m 59s
440:	total: 33.3s	remaining: 1m 57s
460:	total: 34.7s	remaining: 1m 56s
480:	total: 36.3s	remaining: 1m 54s
500:	total: 37.9s	remaining: 1m 53s
520:	total: 39.5s	remaining: 1m 52s
540:	total: 41s	remaining: 1m 50s
560:	total: 42.5s	remaining: 1m 49s
580:	total: 44s	remaining: 1m 47s
600:	total: 45.4s	remaining: 1m 45s
620:	total: 46.8s	remaining: 1m 44s
640:	total: 48.2s	remaining: 1m 42s
660:	total: 49.7s	remaining: 1m 40s
680:	total: 51.2s	remaining: 1m 39s
700:	total: 52.6s	remaining: 1m 37s
720:	total: 54.2s	remaining: 1m 36s
740:	total: 55.8s	remaining: 1m 34s
760:	total: 57.2s	remaining: 1m 33s
780:	total: 58.8s	remaining: 1m 31s
800:	total: 1m	remaining: 1m 30s
820:	total: 1m 1s	remaining: 1m 28s
840:	total: 1m 3s	remaining: 1m 27s
860:	total: 1m 4s	remaining: 1m 25s
880:	total: 1m 6s	remaining: 1m 24s
900:	total: 1m 7s	remaining: 1m 22s
920:	total: 1m 9s	remaining: 1m 21s
940:	total: 1m 10s	remaining: 1m 19s
960:	total: 1m 12s	remaining: 1m 18s
980:	total: 1m 13s	remaining: 1m 16s
1000:	total: 1m 15s	remaining: 1m 15s
1020:	total: 1m 16s	remaining: 1m 13s
1040:	total: 1m 18s	remaining: 1m 11s
1060:	total: 1m 19s	remaining: 1m 10s
1080:	total: 1m 20s	remaining: 1m 8s
1100:	total: 1m 22s	remaining: 1m 7s
1120:	total: 1m 23s	remaining: 1m 5s
1140:	total: 1m 25s	remaining: 1m 4s
1160:	total: 1m 26s	remaining: 1m 2s
1180:	total: 1m 28s	remaining: 1m 1s
1200:	total: 1m 29s	remaining: 59.9s
1220:	total: 1m 31s	remaining: 58.3s
1240:	total: 1m 32s	remaining: 56.8s
1260:	total: 1m 34s	remaining: 55.2s
1280:	total: 1m 35s	remaining: 53.7s
1300:	total: 1m 37s	remaining: 52.2s
1320:	total: 1m 38s	remaining: 50.7s
1340:	total: 1m 40s	remaining: 49.2s
1360:	total: 1m 41s	remaining: 47.8s
1380:	total: 1m 43s	remaining: 46.3s
1400:	total: 1m 44s	remaining: 44.8s
1420:	total: 1m 46s	remaining: 43.2s
1440:	total: 1m 47s	remaining: 41.7s
1460:	total: 1m 48s	remaining: 40.2s
1480:	total: 1m 50s	remaining: 38.7s
1500:	total: 1m 51s	remaining: 37.1s
1520:	total: 1m 53s	remaining: 35.6s
1540:	total: 1m 54s	remaining: 34.1s
1560:	total: 1m 56s	remaining: 32.7s
1580:	total: 1m 57s	remaining: 31.2s
1600:	total: 1m 59s	remaining: 29.7s
1620:	total: 2m	remaining: 28.2s
1640:	total: 2m 2s	remaining: 26.7s
1660:	total: 2m 3s	remaining: 25.3s
1680:	total: 2m 5s	remaining: 23.7s
1700:	total: 2m 6s	remaining: 22.2s
1720:	total: 2m 7s	remaining: 20.8s
1740:	total: 2m 9s	remaining: 19.3s
1760:	total: 2m 11s	remaining: 17.8s
1780:	total: 2m 12s	remaining: 16.3s
1800:	total: 2m 14s	remaining: 14.8s
1820:	total: 2m 15s	remaining: 13.3s
1840:	total: 2m 17s	remaining: 11.9s
1860:	total: 2m 18s	remaining: 10.4s
1880:	total: 2m 20s	remaining: 8.87s
1900:	total: 2m 21s	remaining: 7.38s
1920:	total: 2m 23s	remaining: 5.88s
1940:	total: 2m 24s	remaining: 4.39s
1960:	total: 2m 25s	remaining: 2.9s
1980:	total: 2m 27s	remaining: 1.41s
1999:	total: 2m 28s	remaining: 0us
[LightGBM] [Info] Number of positive: 2970, number of negative: 3750
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005769 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7916
[LightGBM] [Info] Number of data points in the train set: 6720, number of used features: 95
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.441964 -> initscore=-0.233194
[LightGBM] [Info] Start training from score -0.233194
ROC-AUC на валидации Pseudo-Hard Voting: 0.8673740395954559

In [72]:
# 5. Предсказания для теста
gender_test = pd.read_csv('gender_test_kaggle_sample_submission.csv', sep=',')

# Признаки для тестовой выборки
gender_test['customer_id'] = gender_test['customer_id'].astype(data.index.dtype)
# Теперь фильтруем
if 'customer_id' in features.columns:
    features = features.set_index('customer_id')
test_feats = features.loc[features.index.isin(gender_test['customer_id'])].fillna(0)
test_feats.reset_index(inplace=True)

submission = gender_test.copy()

test_pred_proba_RFC = rfс_model.predict_proba(test_feats)[:, 1]
submission['RFC_prediction'] = test_pred_proba_RFC

test_pred_proba_CatBoost = catboost_model.predict_proba(test_feats)[:, 1]
submission['CatBoost_prediction'] = test_pred_proba_CatBoost

test_pred_proba_LightGBM = lgbm_model.predict_proba(test_feats)[:, 1]
submission['LightGBM_prediction'] = test_pred_proba_LightGBM

test_pred_proba_sv = voting_clf.predict_proba(test_feats)[:, 1]
submission['softvoting_prediction'] = test_pred_proba_sv

test_pred_proba_hv = voting_hard_clf.predict(test_feats)
submission['hardvoting_prediction'] = test_pred_proba_hv

test_pred_proba_hv = pseudo_hard_voting_clf.predict_proba(test_feats)[:, 1]
submission['pseudohardvoting_prediction'] = test_pred_proba_hv

submission.to_csv('gender_prediction_submission.csv', index=False)
print('Предсказания сохранены в gender_prediction_submission.csv')

Предсказания сохранены в gender_prediction_submission.csv